<section class="max-w-md mx-auto my-auto p-8 bg-white border-2 border-lingol-dark rounded-3xl shadow-[6px_6px_0px_#1e1b4b] w-full mt-10 animate-fade-in">
  <h2 class="text-2xl font-bold mb-6 text-center text-lingol-primary">Acesso do Educador</h2>
  
  <div class="space-y-4">
    <div>
      <label class="text-xs font-bold block mb-1">E-MAIL INSTITUCIONAL</label>
      <input type="email" [(ngModel)]="credenciais.email" placeholder="professor@escola.com" 
             class="w-full p-3 border-2 border-lingol-dark rounded-xl text-sm focus:outline-none focus:border-lingol-primary">
    </div>
    <div>
      <label class="text-xs font-bold block mb-1">SENHA</label>
      <input type="password" [(ngModel)]="credenciais.senha" placeholder="Sua senha" 
             class="w-full p-3 border-2 border-lingol-dark rounded-xl text-sm focus:outline-none focus:border-lingol-primary">
    </div>
    
    @if (mensagemErro) {
      <div class="text-red-500 text-xs font-bold text-center">{{ mensagemErro }}</div>
    }

    <button (click)="fazerLogin()" [disabled]="carregando" class="btn-lingol btn-primary w-full text-center mt-4">
      @if (carregando) {
        <i class="fa-solid fa-circle-notch animate-spin"></i> Entrando...
      } @else {
        Entrar no Sistema
      }
    </button>
  </div>
</section>
